body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

td input {
  width: 35px;
}

th {
  width: 15px;
}

td {
  width: 5%;
}

.select {
  width: 30%;

}

.table-stat {
  width: 30%;
}

.main {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.first-player {
  position: relative;
  width: 30%;
  height: 100%;
}

.second-player {
  position: absolute;
  width: 30%;
  height: 100%;
}

.main-stat {
  width: 30%;
  height: 100%;
  /*position: relative;*/
  top: 40px;
  left: 40px;
  margin-bottom: 5%;
}

.Select-control {
  width: 120px;
  height: 10px;
}

.is-open {
  width: 120px;
}

.is-searchable {
  width: 120px;
}

.first {

}

.second {

}

.first-select {

}

.second-select {

}

.first-circle {

}


.second-circle {

}


.tb-data {
  position: relative;
}